<ion-view title="Customers" class="bar-positive" ng-controller="customersListController">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ng-repeat="customer in customers | filter : customerFilter">
                <div class="row">
                    <div class="col-33">
                        <img src="https://ontalk.com.br/img/avatars/new/18.png" class="icons">
                    </div>
                    <div class="col-66">
                        <h2>{{ customer.customer_name }}</h2>
                        <h3>CPF: {{ customer.cpf }}</h3>
                        <h3>Cellphone: {{ customer.cellphone }}</h3>
                        <h3>Telephone: {{ customer.telephone }}</h3>
                        <h3>Email: {{ customer.email }}</h3>
                    </div>
                    <ion-option-button class="button-positive">Edit</ion-option-button>
                    <ion-option-button class="button-assertive">Delete</ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>