<ion-side-menus enable-menu-with-back-views="true">
    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item menu-close ui-sref="home.customerslist">
            Customers
          </ion-item>
          <ion-item menu-close ui-sref="home.productslist">
            Products
          </ion-item>
          <ion-item menu-close ui-sref="home.saleslist">
            Sales
          </ion-item>
          <ion-item menu-close ui-sref="home.purchases">
            Purchases
          </ion-item>
          <ion-item menu-close ui-sref="home.reports">
            Reports
          </ion-item>
          <ion-item menu-close ui-sref="home.profile">
            Profile
          </ion-item>
          <ion-item menu-close ng-click='logout()'>
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu-content>
      <!-- Main content, usually <ion-nav-view> -->
      <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
          <!-- Toggle left side menu -->
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent">
      </ion-nav-view>
    </ion-side-menu-content>

  </ion-side-menus>