<ion-view title="Products" class="bar-positive">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-spinner icon="bubbles" class="spinner-energized block" ng-show="spinner"></ion-spinner>
            <p ng-show="message" class="custom-text">There are no products added.</p>
            <ion-item class="item item-avatar" ng-repeat="product in products | filter : productFilter">
                <img src="https://ontalk.com.br/img/avatars/new/18.png" class="avatars">
                <h2>{{ product.product_name }}</h2>
                <h3> Version: {{ product.product_version }}</h3>
                <h3 class="icon ion-ios-barcode-outline"> {{ product.product_code }}</h3>
                <h3 class="icon ion-social-usd"> {{ product.price }}</h3>
                <ion-option-button class="button-energized">
                    <button class="button button-icon icon ion-android-create"></button>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-controller="productsDeleteController" ng-click="deleteProduct(product.product_code)">
                    <button class="button button-icon icon ion-android-delete"></button>
                </ion-option-button>
            </ion-item>
            <div class="col text-center" ui-sref="home.productsadd">
                <button class="button-icon icon ion-android-add-circle blueIcon"></button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>