/* Empty. Add your own CSS if you like */
.avatars {
    max-width:75px;
    max-height:75px;
    width: auto;
    height: auto;
}

.blueIcon {
    color: #337ab7;
}

.custom-text {
    text-align: center;
    font-weight: bold;
    font-family: courier;
}

.green-color {
    color: #33cd5f;
    font-weight: bold;
    text-decoration:none;
}

.error-message {
    color: #cc0000;
}

.spinner svg {
    width: 28px !important;
    height: 28px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#facebook-color {
    background-color: #3b5998;
}

#google-color {
    background-color: #d62d20;
    border-color: #9c2e25;
}
